@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orbitron:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 280px;
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.365);
    border-radius: 5px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    width: 280px;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 0px;
    border-bottom: 1px solid #4392f1;
}

.header > button {
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #454851;
    background: none;
    border: none;
}

.cronometro {
    display: block;
}

.relogio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: bold;

}

.tempo{
    color: #454851;
}


.botoes {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.btn {
    background: none;
    border: 1px solid #4392f1;
    color: #4392f1;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #4392f1;
    color: white;
}

#pausa, #continua, #resetar, #pausaTemp, #continuaTemp, #resetarTemp {
    display: none;
}

#inicio, #inicioTemp {
    background-color: #4392f1;
    color: white;
}

#cronometro {
    color: #4392f1;
}

.temporizador {
    display: none;
}

#setaCima {
    display: none;
    justify-content: space-evenly;
    width: 280px;
}

#setaCima > button {
    width: 80px;
    background: none;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#setaCima > button:hover {
    color: #4392f1;
}

#setaBaixo {
    display: none;
    justify-content: space-evenly;
    width: 280px;
}

#setaBaixo > button {
    width: 80px;
    background: none;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#setaBaixo > button:hover {
    color: #4392f1;
}
